* {
    margin: 0%;
    padding: 0%;
}
body{
    display: block;
}

.container {
    background-image: url(music.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}

.nav {
    color: white;
    margin-left: 155px;
    padding-top: 250px;

}

.nav h3 {
    font-size: 78px;
    font-family: 'Cutive Mono', monospace;
    font-weight: thin;
    letter-spacing: 20px;


}

.nav p {
    margin: 5px;
    padding: 5px;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
}

.contant{
   text-align: center;
   margin-top: 160px;

}

.song1{
    color: rgb(12, 243, 216);
    padding-left: 292px;
    margin-top: 111px;
   
}

.song1 p{
    border:1px solid  rgb(12, 243, 216);
    width: 133px;
    padding: 2px ;
    display: flex;
    align-items: center;
    cursor: pointer;


}

.song1 p .play{
    color: rgb(12, 243, 216);

    
    width: 60px;
    padding: 3px 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: .3s linear;

}

.song1 p .play:hover{
    color: white;
}










